# open ai api key
OPENAI_API_KEY=your-openai-api-key

# web search api key
TAVILY_API_KEY=your-tavily-api-key

# caching
REDIS_URL=your-redis-url
CACHE_TTL_MS=86400000
SEMANTIC_CACHE_TTL_S=86400

# llm models
SAFETY_LLM_MODEL=gpt-5.4-nano
PLANNER_LLM_MODEL=gpt-5.4-nano
RESEARCH_LLM_MODEL=gpt-5.4-nano
REPORT_LLM_MODEL=gpt-5.4-nano

# use mock data
USE_MOCK_ALL=true
USE_MOCK_SAFETY=false
USE_MOCK_PLANNER=false
USE_MOCK_RESEARCH=false
USE_MOCK_REPORT=false